<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PassengerLoginServlet</servlet-name>
        <servlet-class>servlets.PassengerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerSignUpServlet</servlet-name>
        <servlet-class>servlets.PassengerSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAirportsServlet</servlet-name>
        <servlet-class>servlets.AllAirportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartFastPassServlet</servlet-name>
        <servlet-class>servlets.StartFastPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFastPassServlet</servlet-name>
        <servlet-class>servlets.SearchFastPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerLogOutServlet</servlet-name>
        <servlet-class>servlets.PassengerLogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassengerLoginServlet</servlet-name>
        <url-pattern>/PassengerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerSignUpServlet</servlet-name>
        <url-pattern>/PassengerSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAirportsServlet</servlet-name>
        <url-pattern>/AllAirports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartFastPassServlet</servlet-name>
        <url-pattern>/StartFastPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFastPassServlet</servlet-name>
        <url-pattern>/SearchFastPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerLogOutServlet</servlet-name>
        <url-pattern>/PassengerLogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainpage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
