@charset "UTF-8";




html {
	
	font-family: Southwest sans, Arial, sans-serif;
}



div.header {
	background-image: url(images/1.png);	
	height: 35vh;
	background-size: 100% 130%;
	background-repeat: no-repeat;
	background-position: center;	
}

h1 {
	color: #ffbd28;
	font-size: 40px;
	font-style:bold;
	text-indent: 5%;
	padding: 40px;
	
}
h2 {
	color: white;
	font-size: 24px;
	font-style:bold;
	text-indent: 5%;
	padding-top: -60px;
	
}


.LogInEnroll {
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  float:right;

  
  
}

button.LogInEnroll {
  background-color:white ;
  color: rgb(16, 73, 181);
  position:fixed;
 top:55px;
  left:85%;
  
}

  
 


h1.checkpass {
	font-size: 30px;
    text-align:center;
	padding: 8px;
	color: rgb(16, 73, 181);
	font-family: Southwest sans, Arial, sans-serif;
	border:4px solid hsl(0, 0%, 90%);
	margin:0px;
}

  div.checkpasscontainer {
   
   color: rgb(16, 73, 181);
   margin-top: 10px;
   width: 100%;
   height: 330px;
   box-sizing: border-box;
   border-radius: 3px;
    border: 2px solid hsl(0, 0%, 90%);
    display: grid;
    text-align:center;
   
          
            
  }
  
table {
	font-size:30px;
	 padding: 25px;
	  
	
}
input[type="text"] {
	width:150px;
	height:70px;
	border: 2px solid  hsl(0, 0%, 90%);
}


button.search {
	 font-size: 18px;
      width:300px;
      border: none;
      border-radius: 2px;
      align-items:center;
      margin:auto;
      padding: 10px;
      cursor: pointer;
      background-color: #ffbd28;
      color:black;
 
}

   








